@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box; 
    background-color: rgb(4, 110, 180);
    color: white;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

#title {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#camera {
    background-color: black;
    height: 9rem;
    width: 11rem;
    border-radius: 15px 15px 0px 0px; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* transform: translateY(-18rem); */
    z-index: 2;
}

#camera__button {
    background-color: red;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    align-self: center;
    margin: 1.3rem;
}

.camera__lens {
    background-color: grey;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_1 {
    background-color: black;
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_2 {
    background-color: rgb(70, 68, 68);
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_3 {
    background-color: black;
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_4 {
    background-color: rgb(70, 68, 68);
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_5 {
    background-color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_6 {
    background-color: rgb(70, 68, 68);
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_7 {
    background-color: black;
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
}

.camera__view-finder {
    background-color: white;
    height: 3rem;
    width: 2.5rem;
    border-radius: 10px;
    align-self: flex-start;
    margin: 0.4rem;
}

.photo-frame {
    position: relative;
    height: 12rem;
    width: 7.7rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0; 
    border-radius: 0 0 5px 5px;
}

.photo {
    opacity: 0;
    position: relative;
    height: 9rem;
    width: 6.6rem;
    bottom: 12px;
}

.show {
    animation: slide-down 6s forwards;
}

.fade-in{
    animation: 13s fade-in 13s cubic-bezier(0.44, 0.34, 0.82, 0.46) forwards;
}

#camera__bottom {
    background-color: black;
    height: 2rem;
    width: 11rem;
    border-radius: 0px 0px 5px 5px; 
    transform: translateY(-12rem);
}

#player {   
    opacity: 0;
}

.filter_options {
    text-align: center;
    font-size: 1rem;
}

.filter__div {
    transform: translateY(-15rem);
}

.container__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container__filters div {
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0.4rem;
}

.container__filters div span {
    line-height: 3rem;
    font-size: 0.5rem;
    text-decoration: none;
    background-color: transparent;
}

.filter__sepia {
    filter: sepia(60%);
}

.filter__gray-scale {
    filter: grayscale(50%);
}

.filter__hue-rotate {
    filter: hue-rotate(90deg);
}

.filter__chilling{
    filter: drop-shadow(16px 16px 20px red) invert(75%);
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-12rem) scaleY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0rem) scaleY(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 40rem) {
    #title {
        font-size: 3rem;
    }
    #camera {
        height: 13rem;
        width: 15rem;
    }
    #camera__button {
        height: 2rem;
        width: 2rem;
        }

    #camera__bottom {
        height: 2rem;
        width: 15rem;
        transform: translateY(-18rem);
    }
    .camera__lens {
        height: 5rem;
        width: 5rem;
    }
    .lens__ring_1 {
        height: 4.6rem;
        width: 4.6rem;
    }
    .lens__ring_2 {
        height: 4.3rem;
        width: 4.3rem;
    }
    .lens__ring_3 {
        height: 4.1rem;
        width: 4.1rem;
    }
    .lens__ring_4 {
        height: 3.7rem;
        width: 3.7rem;
    }
    .lens__ring_5 {
        height: 3.5rem;
        width: 3.5rem;
    }
    .lens__ring_6 {
        height: 3.2rem;
        width: 3.2rem;
    }
    .lens__ring_7 {
        height: 3rem;
        width: 3rem;
    }
    .photo-frame {
        height: 18rem;
        width: 11rem;
    }
    .photo {
        height: 14rem;
        width: 9.6rem;
    }

    .camera__view-finder {
        height: 4rem;
        width: 3.5rem;
    }

    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-18rem) scaleY(0);
        }
        10% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            transform: translateY(0rem) scaleY(1);
        }
    }
}