* {
    box-sizing: border-box; 
    background-color: rgb(4, 110, 180);
}

html {
    height: 100%;
}

#title {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#camera {
    background-color: black;
    height: 13rem;
    width: 15rem;
    border-radius: 15px 15px 0px 0px; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* transform: translateY(-18rem); */
    z-index: 2;
}

#camera__button {
    background-color: red;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    align-self: center;
    margin: 1.3rem;
}

.camera__lens {
    background-color: grey;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_1 {
    background-color: black;
    height: 4.6rem;
    width: 4.6rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_2 {
    background-color: rgb(70, 68, 68);
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_3 {
    background-color: black;
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_4 {
    background-color: rgb(70, 68, 68);
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_5 {
    background-color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_6 {
    background-color: rgb(70, 68, 68);
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lens__ring_7 {
    background-color: black;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
}

.camera__view-finder {
    background-color: white;
    height: 4rem;
    width: 3.5rem;
    border-radius: 10px;
    align-self: flex-start;
    margin: 0.4rem;
}

.photo-frame {
    position: relative;
    height: 18rem;
    width: 11rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    border-radius: 0 0 5px 5px;
}

.photo {
    opacity: 0;
    position: relative;
    height: 14rem;
    width: 9.6rem;
    bottom: 12px;
}

.show {
    animation: slide-down 6s forwards;
}

.fade-in{
    animation: 13s fade-in 13s cubic-bezier(0.44, 0.34, 0.82, 0.46) forwards;
}

#camera__bottom{
    background-color: black;
    height: 2rem;
    width: 15rem;
    border-radius: 0px 0px 5px 5px; 
    transform: translateY(-18rem);
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-18rem) scaleY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0rem) scaleY(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}